In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [72]:
df = pd.read_csv('insurance.csv')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [74]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [75]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [76]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [77]:
sex_types = pd.get_dummies(df.sex , prefix='sex')
smoker_types = pd.get_dummies(df.smoker , prefix='smoker')
region_types = pd.get_dummies(df.region , prefix='region')

df = pd.concat([df , sex_types , smoker_types , region_types] , axis=1 )

In [78]:
df.head()

,age,sex,bmi,children,smoker,region,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,southwest,16884.92400,True,False,False,True,False,False,False,True
1,18,male,33.770,1,no,southeast,1725.55230,False,True,True,False,False,False,True,False
2,28,male,33.000,3,no,southeast,4449.46200,False,True,True,False,False,False,True,False
3,33,male,22.705,0,no,northwest,21984.47061,False,True,True,False,False,True,False,False
4,32,male,28.880,0,no,northwest,3866.85520,False,True,True,False,False,True,False,False

In [79]:
df.drop(['sex' , 'smoker' , 'region' , 'sex_female' , 'smoker_no'] , axis=1 , inplace=True)

In [80]:
df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,False,True
1,18,33.770,1,1725.55230,True,False,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,False,True,False
3,33,22.705,0,21984.47061,True,False,False,True,False,False
4,32,28.880,0,3866.85520,True,False,False,True,False,False

In [81]:
X = df # BAĞIMSIZ DEĞİŞKEN
Y = df.charges # BAĞIMLI DEĞİŞKEN
df.drop(['charges'] , axis=1 , inplace=True)

In [82]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(X , Y , test_size=0.25 , random_state=46)

<span style="color:orange; font-weight:700; font-size:20px;">Bu kısımda veriler arasındaki değer farklarından dolayı
verilerin birbirlerini yutma ihtimaline karşın veriler
standardize ederek küçük bir değer aralığında sıkıştırıyoruz.</span>

In [83]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [84]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression , Lasso 
from sklearn import metrics

<span style="color:red; font-weight:700; font-size:30px;">KARAR AGACI REGRESYON ALGORITMASI</span>

In [85]:
tree_reg = DecisionTreeRegressor(random_state=42 , max_depth=2)

In [86]:
tree_reg = tree_reg.fit(x_train , y_train)
tree_pred = tree_reg.predict(x_test)

In [88]:
tree_r2 = metrics.r2_score(y_test, tree_pred)
print("Karar Ağacı R2 Skoru:", tree_r2)

Karar Ağacı R2 Skoru: 0.8244040282070162

<span style="color:red; font-weight:700; font-size:30px;">RANDOM FORREST REGRESYON ALGORITMASI</span>

In [ ]:
random_reg = RandomForestRegressor(max_depth=4 , random_state=42)

In [ ]:
random_reg.fit(x_train , y_train)
random_pred = random_reg.predict(x_test)

In [89]:
random_r2 = metrics.r2_score(y_test , random_pred)
print('Random Forest R2  Skor : ' , random_r2)

Random Forest R2  Skor :  0.8669377670097459

<span style="color:red; font-weight:700; font-size:30px;">LASSO REGRESYON ALGORITMASI</span>

In [ ]:
lassoReg = Lasso(alpha=2)

In [ ]:
lassoReg.fit(x_train , y_train)
lasso_pred = lassoReg.predict(x_test)

In [90]:
lasso_r2 = metrics.r2_score(y_test , lasso_pred)
print('Lasso R2 skoru : ' , lasso_r2)

Lasso R2 skoru :  0.7304666401452633

In [ ]:
results = pd.DataFrame({
    "Model": ["Karar Ağacı", "Random Forest", "Lasso"],
    "R2 Score": [tree_r2, random_r2, lasso_r2]
})

print(results)

           Model  R2 Score
0    Karar Ağacı  0.824404
1  Random Forest  0.866938
2          Lasso  0.730467